<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Tags</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>HTML, CSS and Javascript</h1>
    </header>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {% for tag in tags %}
            <li>
                <a href="/tag/{{ tag }}">{{ tag }}</a>
            </li>
            {% endfor %}
        </ul>

    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>

    </footer>
</body>
</html>