<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Tags</title>
</head>
<body>
    <header>
        <h1>HTML and CSS</h1>
    </header>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/html">HTML</a>
            </li>
            <li>
                <a href="/css">CSS</a>
            </li>
        </ul>
    </nav>

    <main>
        <h2>HTML Tags</h2>
        <table>
            <thead>
                <tr>
                    <td>Tag</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tr>
                <td>h1</td>
                <td>Heading 1 - the highest level of heading</td>
            </tr>
            <tr>
                <td>h2</td>
                <td>Heading 2 - the next level of heading</td>
            </tr>
            <tr>
                <td>h3 to h6</td>
                <td>Heading 3 to 6 - the rest of the levels of heading</td>
            </tr>
            <tr>
                <td>p</td>
                <td>A Paragraph</td>
            </tr>
            <tr>
                <td>head</td>
                <td>The part of the page for the browser</td>
            </tr>
            <tr>
                <td>body</td>
                <td>the part of the page that displays on the screen</td>
            </tr>
            <tr>
                <td>br</td>
                <td>creates a line Break</td>
            </tr>
            
        </table>
    </main>

    <footer>

    </footer>
</body>
</html>